@model SimsTracker.Models.Hood

@{
    ViewData["Title"] = "Details";
}

<h1>Details for @Model.name</h1>

<div>
    <h4>Hood</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.population)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
